
.form {
    width: 500px;
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
}
.inputs {
    margin: 5px;
}
table, th, tr, td {
    border: 1px solid;
    padding: 5px;
}
td {
     padding: 5px 15px;
}

